nav{
    display: flex;
    background-color: #333;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    box-shadow: 5px 8px 10px #888888;
}
.logo{
    font-size: 24px;
    transition: color .8s;
    animation: glowing 3s infinite;
}

.active{
    font-style: italic;
}

@keyframes glowing{
    0%{color: white}
    50%{color: #FFC20F}
    100%{color: white}
}

.logo:hover{
    color: #FFC20F;

}
.navUl{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.navUl li{
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color .8s;
}

.navUl li:hover{
    background-color:#006747;
    color: #FFC20F;
    border-radius: 5px;
}

a{
    color: white;
    text-decoration: none;
}

@media (max-width: 400px){
    nav{
        display: flex;
        flex-direction: column;
    }

    ul{
        flex-direction: column;
        padding-right: 500px;
        margin: auto;
        
    }

    li{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .logo{
        padding-bottom: 15px;
    }

}

h1{
    font-size: 36px;
}

img{
    width: 400px;
}

.welcome{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

}

.profile_face img{
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    border-style: solid;
    margin-right: 25px;
    margin-bottom: 5px;
}

.profile_face{
    transition: transform 0.5s;
    transition-timing-function: linear;
}

.profile_face:hover{
    transform: scale(1.1);
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
}

.images img{
    padding-left: 2px;
    padding-right: 2px;
}

.holyGrail-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.holyGrail-header, .holyGrail-footer {
    background-color: #FFC20F;
    color: #fff;
    padding: 10px;
}

.holyGrail-main {
    flex: 1;
    display: flex;
    background-color: lightgray;
    
}

.holyGrail-sidebar {
    width: 200px;
    background-color: #006747;
    padding: 10px;
}

.holyGrail-content {
    flex: 1;
    padding: 10px;
}

.holyGrail-footer {
    margin-top: auto;
}

@media (max-width: 768px) {
    .holyGrail-main {
        flex-direction: column;
    }
    
    .holyGrail-sidebar {
        width: 100%;
        padding: 0;
    }
}
